{% extends "habits/layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block body %}
    {% with habits=habitSet.all %}
        {% if habits %}
            {% for habit in habits%}
                <div class="row justify-content-center">
                    <div class="border px-4 py-3 mb-3 rounded bform col-12">
                        <h3>{{ habit.name }}</h3>
                        <a href="{% url 'viewHabit' habit.id %}"><button class="btn btn-login">view</button></a> 
                        <a href="{% url 'editHabit' habit.id %}"><button class="btn btn-login">edit</button></a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h4>Looks like you don't have any habits yet!</h4>
            <p>Why don't you try making some?</p>
        {% endif %}
    {% endwith %}
    {% with viewing=user.viewing.all %}
        {% if viewing %}
            <h2>Viewing Habits</h2>
            <hr>
            {% for view in viewing%}
                <div class="row justify-content-center">
                    <div class="border px-4 py-3 mb-3 rounded bform col-12">
                        <h3>{{ view.name }}</h3>
                        <p>User: {{ view.owner.username }}</p>
                        <a href="{% url 'viewOthersHabit' view.id %}">view</a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <a href="{% url 'createHabit' %}"><button class="btn btn-login">Create New Habit</button></a>
{% endblock %}