{% extends "habits/layout.html" %}

{% block body %}
    <div class="row justify-content-center">
        <div class="border px-4 py-3 mb-3 rounded bform col-12">
            <h3>{{ habit.name }}</h3>
            <hr>
            {% if user == habit.owner %}
                <a href="{% url 'deleteSubHabit' habit.id %}">delete</a>
                <br>
                <a href="{% url 'editSubHabit' habit.id %}">edit</a>
            {% endif %}
            <h4>MainHabit</h4>
            <div class="list-group mb-3">
                <a href="{% url 'viewHabit' habit.mainHabit_id %}" class="list-group-item list-group-item-action">{{ habit.mainHabit.name }}</a>
            </div>
            {% if habit.dataType == 0 %}
                <h5>Data Query</h5>
                <div id="queryMessage" style="display: none; color: red;"></div>
                <div class="form-row">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="dataQuery" id="yearLabel" value="year">
                        <label class="form-check-label" for="yearLabel">Year</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="dataQuery" id="monthLabel" value="month">
                        <label class="form-check-label" for="monthLabel">Month</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="dataQuery" id="dayLabel" value="day">
                        <label class="form-check-label" for="dayLabel">Day</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" checked name="dataQuery" id="thisWeekLabel" value="thisWeek">
                        <label class="form-check-label" for="thisWeekLabel">This Week</label>
                    </div>
                    <div style="display: none;" id="rangeBox">
                        <select class="form-control" id="rangeType">
                            <option selected value="single">Single</option>
                            <option value="range">Range</option>
                        </select>
                    </div>
                </div>
                <div class="form-row" id="dayEntries" style="display: none;">
                    <div class="form-group start">
                        <label for="dateStart" class="col-2 col-form-label">Start</label>
                        <div class="col-10">
                            <input class="form-control" type="date" id="dateInputStart">
                        </div>
                    </div>
                    <div class="form-group end" style="display: none;">
                        <label for="dateEnd" class="col-2 col-form-label">End</label>
                        <div class="col-10">
                            <input class="form-control" type="date" id="dateInputEnd">
                        </div>
                    </div>
                </div>
                <div class="form-row" id="monthYearEntries" style="display: none;">
                    <div class="form-group start">
                        <label for="monthYearStart" class="col-2 col-form-label">Start</label>
                        <div class="col-10">
                            <input class="form-control" type="month" id="monthInputStart">
                        </div>
                    </div>
                    <div class="form-group end" style="display: none;">
                        <label for="monthYearEnd" class="col-2 col-form-label">End</label>
                        <div class="col-10">
                            <input class="form-control" type="month" id="monthInputEnd">
                        </div>
                    </div>
                </div>
                <button class="btn btn-login my-3" id="query-btn">Search</button>
                <canvas id="myChart" style="display: none;" data-id="{{ habit.id }}"></canvas>
            {% endif %}
            {% with datapoints=allData.all %}
                {% if datapoints %}
                    <table class="table table-hover table-dark">
                        <thead>
                            <tr>
                                <th scope="col">Value</th>
                                <th scope="col">Habit</th>
                                <th scope="col">Date</th>
                            </tr>
                        </thead>
                        {% for point in datapoints %}
                            <tr>
                                <th scope="row">{{ point.content }}</th>
                                <td>{{ point.parentSet.associatedHabit.name }}</td>
                                <td>{{ point.date|date:"SHORT_DATE_FORMAT" }} {{ point.date|time:"H:i" }}</td>
                                <td>
                                    <a href="{% url 'editEntry' point.parentSet.associatedHabit_id point.id %}">edit</a>
                                    <a href="{% url 'deleteEntry' point.parentSet.associatedHabit_id point.id %}">delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <h4>No data yet!</h4>
                    <p>Try to make some</p>
                {% endif%}
                {% if user == habit.owner %}
                    <a href="{% url 'addSubHabitData' habit.id%}"><button class="btn btn-login">Add Data</button></a>
                {% endif %}
            {% endwith %}
            {% if user == habit.owner %}
                <div class="accordion md-accordion mt-3" id="accordionEx" role="tablist" aria-multiselectable="true">
                    <div class="card">
                        <div class="card-header" role="tab" id="headingOne1">
                            <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                            aria-controls="collapseOne1" id="add-viewer">
                            <h5 class="mb-0">
                                Add Viewer
                            </h5>
                            </a>
                        </div>
                    
                        <div id="collapseOne1" class="collapse" role="tabpanel" aria-labelledby="headingOne1"
                            data-parent="#accordionEx">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="user">Enter Username to add</label>
                                    <input type="email" name="to" class="form-control" id="username-in" placeholder="UserName">
                                </div>
                                <input class="btn btn-login my-2" id="add-viewer-btn" data-habit="{{ habit.id }}" type="submit">
                            </div>
                        </div>
                
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}